@font-face {
    font-family: 'BrandonGrotesque';
    src: url(/fonts/BrandonGrotesque-Regular.otf);
}
@font-face {
    font-family: 'BrandonGrotesque-Light';
    src: url(/fonts/BrandonGrotesque-Light.otf);
}
@font-face {
    font-family: 'BrandonGrotesque-Bold';
    src: url(/fonts/BrandonGrotesque-Bold.otf);
}

@media screen and (max-width: 410px) {
  /*BODY / MAIN SECTION*/
  body {
    font-size: 100%;
    font-family: "BrandonGrotesque",sans-serif;
  }
  #main {
    padding-top: 15px;
    /*background: #f2f2f2; for a lil darker gray e7e7e7*/
  }
  a:link {
    color: #8561e6;
  }
  a:visited {
    color: #8561e6;
  }

  /****** LANDING PAGE *****/
  .landingNav {
    width: 100%;
    height: 52px;
    background-color: #8561e6;
  }

  .landingNav h1 {
    font-family: 'BrandonGrotesque-Bold';
    text-align: center;
    line-height: 52px;
    font-size: 4em;
    color: white;
    padding: 0;
    margin: 0;
  }

  .landingContent {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .landingContent h1 {
    font-family: 'BrandonGrotesque-Bold';
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: bolder;
    color: #8561e6;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .landingContent p {
    font-family: 'BrandonGrotesque-Light';
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 40px;
  }

  .landingContent h2 {
    font-family: 'BrandonGrotesque-Bold';
    margin: 0;
    text-align: center;
    color: #8561e6;
    text-transform: uppercase;
    font-size: 1.7em;
  }

  .landingContent a {
    font-family: 'BrandonGrotesque-Bold';
    text-transform: uppercase;
    border: 3px solid #8561e6;
    color: #8561e6;
    font-size: 1.7em;
    padding: 10px 20px;
  }

  /*****  LOGIN PAGE  *****/

  #login {
    text-align: center;
  }

  #login h1 {
    font-family: 'BrandonGrotesque-Bold';
    color: #8561e6;
    margin-bottom: 20px;
  }

  #login input {
    width: 50%;
    line-height: 3em;
    margin-bottom: 20px;
  }

  #login ::-webkit-input-placeholder {
    font-family: 'BrandonGrotesque-Light';
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
  }

  #login a {
    font-family: 'BrandonGrotesque-Light';
    color: #8561e6;
    font-size: 1.25em;
    text-decoration: underline;
  }

  .login-btn {
    margin: 0 auto;
    background-color: #8561e6;
    width: 35%;
    margin-top: 20px;
  }

  #login p {
    letter-spacing: 2px;
    text-transform: uppercase;  
    font-size: 1.5em; 
    color: #ffffff;
    cursor: pointer;
    padding: 10px 0;
  }

  #login span {
    font-family: 'BrandonGrotesque-Light';
    font-size: 1.25em;
    margin-right: 5px;
  }

  .signup-btn {
    background-color: #8561e6;
    color: #ffffff;
    border: 0;
    letter-spacing: 2px;
    text-transform: uppercase;  
    font-size: 1.5em;
    padding: 10px 0;
    width: 30%;
    margin-bottom: 20px;
  }

  /*****  NAVIGATION  *****/

  .navigation {
    border-bottom: 3px solid #8561e6;
    background-color: #FFF;
    width: 100%;
    z-index: 9999;
  }
  aside {
    position: fixed;
    bottom: 0px;
    border-top: 2px solid #8561e6;
    background-color: #FFF;
    width: 100%;
    z-index: 9999;
  }
  aside ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-padding-start: 0px;
  }
  aside ul li {
    font-size: 1.5em;
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 5px;
  }

  .mobi-hide {
    display: none;
  }
  .sticker-sticky-wrapper {
    display: none;
  }
  .mobi-nav {
    text-align: center;
  }
  .mobi-nav h1 {
    margin-top: 5px;
    color: #8561e6;
  }
  /*POSTS-FEED-HEADER*/
  section {
    width: 100%;

  }
  section article {
    clear: left;
  }
  article header span {
    font-size: 1.5em;
  }
  .profile-pic {
    position: relative;
    top: 5px;
    height: 46px;
    width: 46px;
    padding: 5px;
    z-index: 99;
  }
  .post-time {
    position: relative;
    left: 215px;
  }
  /*POSTS-FEED-BODY*/
  .mainImg {
    position: relative;
    bottom: 10px;
    height: auto ;
    width: 100%;
    border: 1px solid #e7e7e7 !important;
  }
  article p {
    font-size: 1.4em;
    font-weight: lighter;
    padding-left: 15px;
  }

  .post-likes {
    float: left;
    font-size: 2em;
    margin-left: 10px;
    padding: 8px;
    border: 2px solid #e7e7e7 ;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .post-likes span {
    font-size: .75em;
    padding-left: 5px;
    position: relative;
    bottom: 2px;
  }
  article:last-child {
    padding-bottom: 100px;
    /*background-color: #f2f2f2;*/
  }

  /*****  COMMENTS  *****/
  .comment {
    clear: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
  }

  .commentBody {
    padding: 5px 0;
    border-bottom: 1px solid #e7e7e7;
  }

  .commentBody span {
    font-size: 1.4em;
    padding-left: 10px;
  }

  .commentText {
    font-size: 1.5em;
    cursor: pointer;
  }



  .fa .fa-comment {
    font-size: 1.5em;
  }

  .supersmallImg {
    width: 30px;
    height: 30px;
  }

}


/**********  DESKTOP STYLES  **********/
@media screen and (min-width: 410px) {

  /*NORMAL STYLES*/

  /*BODY*/

  body {
    font-family: "brandon-grotesque",sans-serif;
  }
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .mobi-nav-bottom {
    display: none;
  }
  .mobi-nav {
    display: none;
  }

  .sticky {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }

  .sticky-side {
    position: fixed;
    left: 65%;
    width: 21%;
    margin-top: 20px;
    margin-left: 4%;
    top: 140px
  }

  /*****  LANDING PAGE  *****/
  .landingNav {
    width: 100%;
    height: 107px;
    background-color: #8561e6;
  }

  .landingNav h1 {
    font-family: 'BrandonGrotesque-Bold';
    text-align: center;
    line-height: 107px;
    font-size: 4em;
    /*font-weight: bolder;*/
    color: white;
    padding: 0;
    margin: 0;
  }

  .landingContent {
    margin-top: 40px;
    margin-left: 27%;
    margin-right: 27%;
  }

  .landingContent h1 {
    font-family: 'BrandonGrotesque-Bold';
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: bolder;
    color: #8561e6;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .landingContent p {
    font-family: 'BrandonGrotesque-Light';
    text-align: center;
    margin-bottom: 40px;
  }

  .landingContent h2 {
    font-family: 'BrandonGrotesque-Bold';
    margin: 0;
    text-align: center;
    color: #8561e6;
    text-transform: uppercase;
    font-size: 1.7em;
  }

  .landingContent a {
    font-family: 'BrandonGrotesque-Bold';
    text-transform: uppercase;
    border: 3px solid #8561e6;
    color: #8561e6;
    font-size: 1.7em;
    padding: 10px 20px;
  }


  /*****  LOGIN PAGE  *****/

  #login {
    text-align: center;
  }

  #login h1 {
    font-family: 'BrandonGrotesque-Bold';
    color: #8561e6;
    margin-bottom: 20px;
  }

  #login input {
    width: 30%%;
    line-height: 3em;
    margin-bottom: 20px;
  }

  #login ::-webkit-input-placeholder {
    font-family: 'BrandonGrotesque-Light';
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
  }

  #login a {
    font-family: 'BrandonGrotesque-Light';
    color: #8561e6;
    font-size: 1.25em;
    text-decoration: underline;
  }

  .login-btn {
    margin: 0 auto;
    background-color: #8561e6;
    width: 20%;
    margin-top: 20px;
  }

  #login p {
    letter-spacing: 2px;
    text-transform: uppercase;  
    font-size: 1.5em; 
    color: #ffffff;
    cursor: pointer;
    padding: 10px 0;
  }

  #login span {
    font-family: 'BrandonGrotesque-Light';
    font-size: 1.25em;
    margin-right: 5px;
  }

  .signup-btn {
    background-color: #8561e6;
    color: #ffffff;
    border: 0;
    letter-spacing: 2px;
    text-transform: uppercase;  
    font-size: 1.5em;
    padding: 10px 0;
    width: 20%;
    margin-bottom: 20px;
  }


  /*****  NAVIGATION  *****/

  nav {
    width: 100%;
    border-top: 5px solid #8561e6;
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
  nav h1 {
    font-size: 2em;
    font-weight: 700;
    color: #8561e6;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 0;

  }
  nav p {
    font-weight: lighter;
    margin-bottom: 5px;
  }
  .mobi-hide {}
  .navtext {
    margin-left: 0 auto;
  }
  .nav-text-center {
    text-align: center;
  }

  .logo img {
    position: absolute;
    top: 5px;
    width: auto;
    height: 100px;
  }

  /*SIDE NAV*/

  aside {}

  aside ul {
    list-style: none;
  }

  aside li {
    border-bottom: 2px solid #e7e7e7;
    font-size: 1.5em;
    line-height: 2em;
  }

  aside li span {
    padding-left: 10px;
  }

  /*****  MAIN FEED  *****/
  #main {
    float: left;
    width: 51%;
    margin-left: 8%;
    margin-right: 6%;
  }

  section {
    width: 100%;
    margin-top: 107px;
  }

  section article {
    clear: left;
  }

  article:last-child {
    margin-bottom: 40px;
  }

  article p {
    font-size: 1.25em;
    font-weight: lighter;
    padding-top: 5px;
    margin-left: 5%;
  }

  article header span {
    position: relative;
    top: 15px;
    font-size: 1.5em;
    padding-left: 5px;
  }

  article h1 {
    font-size: 1.75em;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .mainImg {
    position: relative;
    bottom: 10px;
    width: 100%;
    height: auto;
    border: 1px solid #e7e7e7 !important;
  }
  .profile-pic {
    position: relative;
    margin-left: 5%;
    top: 20px;
    padding: 5px;
    width: 85px;
    height: 85px;
    z-index: 99;
  }

  .post-likes {
    float: left;
    font-size: 1.75em;
    margin-left: 5%;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .post-likes span {
    font-size: .75em;
    padding-left: 5px;
    position: relative;
    bottom: 2px;
  }

  /*****  COMMENTS  *****/
  
  .comment {
    clear: left;
    margin-left: 5%;
  }

  .commentBody{
    padding: 5px 0;
    border-bottom: 1px solid #e7e7e7;
  }

  .commentText {
    font-size: 1.3em;
    cursor: pointer;
  }

  .fa .fa-comment {
    font-size: 1.3em;
  }

  .supersmallImg {
    width: 30px;
    height: 30px;
  }

  .profile-page {
    text-align: center;
  }

  .profile-page label{
    font-size: 2em;
  }

  .profile-page span{
    font-size: 2em;
    color: #8561e6;
    text-decoration: underline;
  }

  #photo {
    margin: 0 auto;
    text-align: center
  }

  aside .fs,a {
    color: #8561e6 ;
  }


}

body {
  font-family: "BrandonGrotesque",sans-serif;
}
.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

nav {
  background: #FFF;
  z-index: 9999;
}

.post-upload {
  margin-top: 30px;
}

.center {
  text-align: center;
  margin-top: 30px;
}

.login {
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px;
}

.profile-page {
  margin-top: 50px;
}

.hideNav {
  display: none;
}

.fa.fa-heart {
  color: #8561e6;
}

