@font-face {
    font-family: 'BrandonGrotesque';
    src: url(/fonts/BrandonGrotesque-Regular.otf);
}

@media screen and (max-width: 410px) {
  /*BODY / MAIN SECTION*/
  body {
    font-size: 100%;
    font-family: "BrandonGrotesque",sans-serif;
  }
  #main {
    padding-top: 15px;
    background: #f2f2f2; /*for a lil darker gray e7e7e7*/
  }
  a:link {
    color: #8561e6;
  }
  a:visited {
    color: #8561e6;
  }
  /*NAVIGATION*/
  .navigation {
    border-bottom: 3px solid #8561e6;
    background-color: #FFF;
    width: 100%;
    z-index: 9999;
  }
  aside {
    position: fixed;
    bottom: 0px;
    border-top: 2px solid #8561e6;
    background-color: #FFF;
    width: 100%;
    z-index: 9999;
  }
  aside ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-padding-start: 0px;
  }
  aside ul li {
    font-size: 1.5em;
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 5px;
  }

  .mobi-hide {
    display: none;
  }
  .sticker-sticky-wrapper {
    display: none;
  }
  .mobi-nav {
    text-align: center;
  }
  .mobi-nav h1 {
    margin-top: 5px;
    color: #8561e6;
  }
  /*POSTS-FEED-HEADER*/
  section {
    width: 100%;

  }
  section article {
    clear: left;
  }
  article header span {
    font-size: 1.5em;
  }
  .profile-pic {
    position: relative;
    top: 5px;
    height: 46px;
    width: 46px;
    padding: 5px;
    z-index: 99;
  }
  .post-time {
    position: relative;
    left: 215px;
  }
  /*POSTS-FEED-BODY*/
  .mainImg {
    position: relative;
    bottom: 10px;
    height: auto ;
    width: 100%;
  }
  article p {
    font-size: 1.4em;
    font-weight: lighter;
    padding-left: 15px;
  }

  .post-likes {
    float: left;
    font-size: 2em;
    margin-left: 10px;
    padding: 8px;
    border: 2px solid #e7e7e7 ;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .post-likes span {
    font-size: .75em;
    padding-left: 5px;
    position: relative;
    bottom: 2px;
  }
}

@media screen and (min-width: 410px) {

  /*NORMAL STYLES*/

  /*BODY*/

  body {
    font-family: "brandon-grotesque",sans-serif;
  }
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .mobi-nav-bottom {
    display: none;
  }
  .mobi-nav {
    display: none;
  }

  /*NAVIGATION*/

  nav {
    width: 100%;
    border-top: 5px solid #8561e6;
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
  nav h1 {
    font-size: 1em;
    color: #8561e6;
    text-transform: uppercase;
    letter-spacing: 2px;

  }
  nav p {
    font-weight: lighter;
    margin-bottom: 5px;
  }
  .mobi-hide {}
  .navtext {
    display:inline-block;
    margin-left: 28%;
  }
  .nav-text-center {
    text-align: center;
  }

  .logo img {
    display:inline-block;
    vertical-align: top;
    width: auto;
    height: 100px;
  }

  /*SIDE NAV*/

  aside {
    float: left;
    margin-top: 20px;
    margin-left: 4%;
    margin-right: 10%;
    width: 21%;
    top: 140px
  }

  aside ul {
    list-style: none;
  }

  aside li {
    border-bottom: 2px solid #e7e7e7;
    font-size: 1.5em;
    line-height: 2em;
  }

  aside li span {
    padding-left: 10px;
  }

  /*MAIN FEED*/
  #main {
    float: left;
    width: 51%;
    margin-left: 8%;
    margin-right: 6%;
  }

  section {
    width: 100%;
  }

  section article {
    clear: left;
  }

  article p {
    font-size: 1.25em;
    font-weight: lighter;
    padding-top: 5px;
    margin-left: 5%;
  }

  article header span {
    position: relative;
    top: 15px;
    font-size: 1.5em;
    padding-left: 5px;
  }

  article h1 {
    font-size: 1.75em;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .mainImg {
    position: relative;
    bottom: 10px;
    width: 100%;
    height: auto;
  }
  .profile-pic {
    position: relative;
    margin-left: 5%;
    top: 20px;
    padding: 5px;
    width: 85px;
    height: 85px;
    z-index: 99;
  }

  .post-likes {
    float: left;
    font-size: 1.75em;
    margin-left: 5%;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .post-likes span {
    font-size: .75em;
    padding-left: 5px;
    position: relative;
    bottom: 2px;
  }
}

body {
  font-family: "BrandonGrotesque",sans-serif;
}
.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

nav {
  background: #FFF;
  z-index: 9999;
}

.post-upload {
  margin-top: 30px;
}

.center {
  text-align: center
}

.login {
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px;
}

.profile-page {
  margin-top: 50px;
}


