<div class="sticky" ng-include src="'views/includes/header.html'"></div>
<section id="main">
  <div class="post-upload">
    <form role="form">
      <div class="form-group">
        <label for="title">What do you have?*</label>
        <input type="text" class="form-control" id="title" placeholder="ex: Beyonce tickets" ng-model="post.title">
      </div>
      <div class="form-group">
        <label for="photo">Prove it with a pic*</label>
        <br>
        <img ng-src="https://s3.amazonaws.com/bartr-imgs/s3UploadExample/{{post.imgRef}}" class="mainImg"/>
        <input id="photo" type="file" class="btn" ng-file-select="onFileSelect($files)">
        <!-- <p class="help-block">Uploaded!</p> MAKE THIS A NOTIFICATION THAT THE IMAGE HAS BEEN UPLOADED -->
      </div>
      <div class="form-group">
        <label for="caption">Tell me more*</label>
        <input type="text" class="form-control" id="caption" placeholder="ex: Two 300 levels tickets to Queen B / J @ MetLife 06/11." ng-model="post.caption">
      </div>
      <p class="pull-right">* required</p>
      <button ng-click="updatePost(post)" class="btn btn-default">Update</button>
      <a href='/#/app' class="btn btn-default">Nevermind</a>
      <button ng-click="deletePost(post)" class="btn btn-default">Delete</button>
    </form>
  </div>
</section>
<div class="sticky-side" ng-include src="'views/includes/sidenav.html'"></div>