<div class="sticky" ng-include src="'views/includes/header.html'"></div>
<section id="main">
  <div name="top"></div>
  <article ng-repeat="post in posts">
    <header>
      <img class="profile-pic" ng-src="https://s3.amazonaws.com/bartr-imgs/uploads/{{post.user.imgRef}}"/>
      <span> {{post.user.local.username}} </span>
      <!-- <span class="post-time mobi-nav">3h</span> -->
    </header>

    <img ng-src="https://s3.amazonaws.com/bartr-imgs/uploads/{{post.imgRef}}" class="mainImg"/>
    <div class="postContent">
      <h1 class="mobi-hide">{{post.title}}</h1>
      <p>{{post.caption}}</p>
      <div class="post-likes" ng-click="addLike(post)">
        <i ng-hide="post.userLike" class="fa fa-heart-o"></i>
        <i ng-show="post.userLike" class="fa fa-heart"></i>
        <span>{{ post.likes.length }}</span>
      </div>
      <div class="post-likes" ng-click="sendBartr(post)">
        <i class="fa fa-retweet"></i>
        <span>make a bartr</span>
      </div>
      <div ng-show="{{user._id === post.user._id}}" class="post-likes">
        <i class="fa fa-edit"></i>
        <span href="/#/posts/{{post._id}}">Edit Post</span>
      </div>
      
      <div class="comment">
        <i class="fa fa-comment"></i>
        <span class="commentText" ng-click="openComments(post)">{{post.comments.length}} comments</span>
        <i ng-hide="post.showComments" class="fa fa-caret-up pull-right"></i>
        <i ng-show="post.showComments" class="fa fa-caret-down pull-right"></i>
        <div class="commentBody" ng-show="post.showComments" ng-repeat="comment in post.comments">
          <img ng-src="https://s3.amazonaws.com/bartr-imgs/uploads/{{comment.user.imgRef}}" class="supersmallImg"/>
          <span>{{comment.user.username}}</span>
          <p>{{comment.body}}</p>
        </div>
      </div>
      <div ng-show="post.showComments" class="comment commentPost">
        
        <input type="text" class="form-control commentinput" placeholder="Got something to say?" ng-model="comment.body">
        <span ng-click="addComment(post, comment)" class="btn btn-default commentinput">Add Comment</span>
      </div>
    </div>
  </article>
</section>
<div class="sticky-side" ng-include src="'views/includes/sidenav.html'"></div>