<section>
  <article ng-repeat="post in posts">
    <header>
      <img class="profile-pic" ng-src="https://s3.amazonaws.com/bartr-imgs/s3UploadExample/{{post.user._id}}"/>
      <a ng-show="{{user._id === post.user._id}}" href="/#/posts/{{post._id}}">Edit Post</a>
      <!-- <span class="post-time mobi-nav">3h</span> -->
    </header>

    <img ng-src="https://s3.amazonaws.com/bartr-imgs/s3UploadExample/{{post.imgRef}}" class="mainImg"/>
    <div class="postContent">
      <h1 class="mobi-hide">{{post.title}}</h1>
      <p>{{post.caption}}</p>
      <div class="post-likes" ng-click="addLike(post)">
        <i class="fa fa-heart-o"></i>
        <span>{{ post.likes.length }}</span>
      </div>
      <div class="post-likes" ng-click="sendBartr(post)">
        <i class="fa fa-retweet"></i>
        <span>make a bartr</span>
      </div>
      <div class="comment">
        <span ng-click="openComments(post)">{{post.comments.length}} comments</span>
        <i class="fa fa-caret-down pull-right"></i>
        <div ng-show="post.showComments" ng-repeat="comment in post.comments">
        <img ng-src="https://s3.amazonaws.com/bartr-imgs/s3UploadExample/{{comment.user}}" class="supersmallImg"/>
        {{comment.body}}

        </div>
      </div>
      <div ng-show="post.showComments" class="commentinput">
        <input type="text" class="form-control commentinput" placeholder="Got something to say?" ng-model="comment.body">
        <span ng-click="addComment(post, comment)" class="btn btn-default commentinput">Add Comment</span>
      </div>
    </div>
   
    <!-- <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
    </div> -->
  </article>
</section>