<section ng-repeat="post in usersLikes">
  <article>
    <header>
      <img ng-src="https://s3.amazonaws.com/bartr-imgs/s3UploadExample/{{post.user.imgRef}}" height="50px" width="50px"/>
      <span>{{post.user.local.email}}</span>
    </header>
    <img ng-src="https://s3.amazonaws.com/bartr-imgs/s3UploadExample/{{post.imgRef}}" height="250px" width="300px">
    <div class="postContent">
      <h1>{{post.title}}</h1>
      <p>{{post.caption}}</p>
      <img class="bIcon" ng-src="/images/b_normal.png" ng-click="sendBartr(post)">
      <span class="glyphicon glyphicon-heart" ng-click="addLike(post)"></span>
      <span>{{ post.likes.length }}</span>
    </div>
  </article>
</section>